<form [formGroup]="userForm" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username" formControlName="username" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email" formControlName="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Enter phone" formControlName="phone" />
    </mat-form-field>
</form>

<button mat-button color="primary" type="button" *ngIf="showReset" (click)="setForm(userId)">Reset Form</button>